@font-face {
    font-family: "TTLakes";
    src: url(./TTLakes/TTLakes-Medium.ttf);
}
*{
    margin:0;
    box-sizing: border-box;
    outline: none;
    font-family: "TTLakes", sans-serif
}
body{
    background-color: #f2f2f2;
}
.cat{
    overflow: hidden;
}
.cat__header{
    background-image: linear-gradient(to right,#f8f8f8, #fff);
}

.cat__heading{
    font-size: 16px;
    color:#7E7E82;
    text-transform: uppercase;
    font-weight: 100;
    padding: 16px;

}
.cat__block{
    display: none;
}

.cat__item{
width: 224px;
height: 72px;
 margin:10px;
 padding: 0 16px;
 display: flex; 
 justify-content: space-between;
 align-items: center;
 border:1px solid #EAEAEA;
 border-radius: 6px;
}
.cat__img{
    max-width:108px;
    max-height: 52px;
}
.cat__icon{
    width:40px;
    height: 40px;
    border: 2px solid #FF3E79;
    background-image: url(img/dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}


.swiper {
    width: 242px;
    height: 80px;
    position:relative;
    
  }
.swiper::after{
    content:"";
    width:24px;
    height: 70px;
    background: linear-gradient(
        to right,
        rgba(248, 248, 248, 0.2),
        rgba(248, 248, 248,0.5),
        rgba(248, 248, 248,0.8),
        rgba(248, 248, 248,0.95),
        rgba(248, 248, 248,0.99)
        );
    z-index: 1;
    position: absolute;
    right: 0;
    top:87px;
}
.swiper-slide{
    background-color: #fff;
}

.swiper .swiper-pagination{
    top:160px    
}

.swiper-pagination-bullet{
    width:12px;
    height: 12px;
    background-color: #DDDDDD;
} 

.swiper-pagination-bullet-active{
    background-color: #B5B6BC;
}
@media (min-width:381px){
    .swiper::after{
        top:65px;
    }
}

@media (min-width:768px) {
    .cat__heading{
        padding:24px;
    }
    .swiper{
        display: none;
    }
  
    .hide{
        display: none;
    }
    .cat__block{
        display: block;
        padding-left:13px;
        padding-right:7px;
    }
    .cat__items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .show_all_w{
        padding-left:21px;

    }
    .show_all{
        border:none;
        font-weight: 500;
        color: #1B1C21;
        padding-left:16px;
    }
    
}

@media (min-width:1120px) {
    .cat__items{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    .cat__item:nth-child(7){
        display: flex;
    }
    .cat__item:nth-child(8){
        display: flex;
    }
    .cat__block{
        display: block;
        padding-left:21px;
        padding-right:15px;
    }
    .cat__item{
        width:240px;
    }
    
}